/* header section */
header{
    background-color: #FFF8F3;
    height: 575px;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , right bottom;
    padding-bottom: 300px;
}

header nav{
    padding: 40px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
}
nav h1{
    padding-left: 50px;
    padding-bottom: 50px;
    font-size:xxx-large;
    font-weight: 800px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin-left: 40px;
    font-size: larger;
}
nav ul li a{
    text-decoration: none;
}
.primary-colour{
    color:#474747
}
.primary-button{
    background-color: orange;
    color: white;
    font-size: larger;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ;
}
.primary-button:hover{
    background-color: greenyellow;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.banner-content{
    margin-left: 150px;
    width: 500px;
    padding-bottom: 40px;
    /* align-items: center; */
}
/* main part */  