/* header section */
header{
    background-color: #f6ebe4;
    height: 575px;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , right bottom;
    padding-bottom: 300px;
}

header nav{
    padding: 40px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
}
nav h1{
    padding-left: 50px;
    padding-bottom: 50px;
    font-size:xxx-large;
    font-weight: 800px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin-left: 40px;
    font-size: larger;
}
nav ul li a{
    text-decoration: none;
}
.primary-colour{
    color:#474747
}
.primary-button{
    background-color: orange;
    color: white;
    font-size: larger;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ;
}
.primary-button:hover{
    background-color: greenyellow;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.banner-content{
    margin-left: 150px;
    width: 500px;
    padding-bottom: 40px;
    /* align-items: center; */
}
/* main part */  
main{
    margin: 40px 80px;
}
.about-me-section{
    background-color: rgb(230, 236, 223);
    text-align: center;
    padding: 40px 100px ;
}
.about-me-sec{
    background-color: #eddacc;
}
.about-me{
    display: flex;
    justify-content: space-around;
}
/* doing section */
.doing-section{
    background-color: #f1eae5;
    text-align: center;
}
.skils{
    display: flex;
    text-align: left;
    gap: 40px;
    padding: 20px 10px;
    margin: 0px 10px;
}
.js{
    background-color: #dcebf0;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    box-shadow: 10px 10px 10px rgb(129, 231, 231);
}
.js:hover{
    background-color: rgb(129, 231, 231);
}
.react{
    background-color: #dcebf0;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    box-shadow: 10px 10px 10px rgb(217, 133, 161);
}
.react:hover{
    background-color: rgb(217, 133, 161);
}
.nodejs{
    background-color: #dcebf0;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    box-shadow: 10px 10px 10px rgb(121, 121, 232);
}
.nodejs:hover{
    background-color: rgb(121, 121, 232);
}
.mongo{
    background-color: #dcebf0;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    box-shadow: 10px 10px 10px rgb(189, 235, 120);
}
.mongo:hover{
    background-color: rgb(189, 235, 120);
}
.font-sizee{
    font-size: larger;
}
/* resume-section */
.resume-section{
    background-color: #f1eae5;
    text-align: center;
    margin-top: 60px;
    padding: 20px;
}

.resume-collumn{
    display: flex;
    justify-content: space-around;
    gap:200px
}
.education{
    text-align: left;
    padding: 20px;
    background-color: #dcebf0;
    border-radius: 20px ;
    margin-left: 200px;
    width: 300px;
    margin-bottom: 20px;
}
.experience{
    text-align: left;
    padding: 20px;
    background-color: #dcebf0;
    border-radius: 20px;
    margin: 20px 120px;
}

/* footer-section */
.footer-section{
    background-color: #dcebf0;
}

.connect-message{
    display: flex;
    /* justify-content: space-around; */
    gap: 100px;
}

.connect{
    margin-left: 80px;
    margin-top: 20px;
}